<!-- META -->
<% content_for :head do %>
  <meta property="og:url" content="http://lacedny.herokuapp.com<%= products_path %>" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Luxury Sneakers" />
  <meta property="og:locale" content="en_US" />
  <meta property="fb:app_id" content="621104394706655" />
<% end %>


<!-- SIDEBAR -->
<div id="filters" class="button-group sidebar">
  <div class="contact_link">
    <div class = "filter_select_container">
    <hr><p id = "logo">Laced</p><hr><br><br>
      <button class="button"><a href = "javascript:history.back()" class = "contact_link">RETURN TO COLLECTION</a></button>
    </div>
  </div>
</div>

<div class = "contact_text">
  <%= h1_helper("SUGGESTIONS?") %>
  <%= h3_helper("Reach us here") %><br><br>
  <%= image_tag("hand_pointing_right.png") %>
</div>

<!-- REQUEST PRODUCT -->
<!-- Special version of Bootstrap that only affects content wrapped in .bootstrap-iso -->
<link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" /> 

<!-- HTML Form (wrapped in a .bootstrap-iso div) -->
<!-- <div class="bootstrap-iso">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <%= form_for @contact do |f| %>
          <div class="form-group">
            <%= f.label(:name, class: "control-label requiredField") do %>
              Name <span class="asteriskField">*</span>
            <% end %>
            <%= f.text_field :name, class: "form-control", id: "from_name", placeholder: "full name" %>
          </div>
          <div class="form-group">
            <%= f.label(:email, class: "control-label requiredField") do %>
              Email Address <span class="asteriskField">*</span>
            <% end %>
            <%= f.email_field :email, class: "form-control", id: "email", placeholder: "youremail@gmail.com" %>
          </div>
          <div class="form-group">
            <%= f.label(:subject, class: "control-label requiredField") do %>
              subject <span class="asteriskField">*</span>
            <% end %>
            <%= f.text_field :subject, class: "form-control", id: "subject", placeholder: "what brand do you want to see on Laced?" %>
          </div>
          <div class="form-group">
            <%= f.label(:message, class: "control-label requiredField") do %>
              message <span class="asteriskField">*</span>
            <% end %>
            <%= f.text_area :message, rows: 10, cols: 40, class: "form-control", id: "message", placeholder: "tell us more..." %>
          </div>
          <div class="hidden">
            <%= f.label :nickname %>
            <%= f.text_field :nickname, hint: "leave this field blank" %>
          </div>
          <%= f.submit :submit, name: "submit", class: "my-btn" %>
        <% end %>
      </div>
    </div>
  </div>
</div> -->
