<!-- META -->
<% content_for :head do %>
  <meta property="og:url" content="http://lacedny.herokuapp.com<%= products_path %>" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Luxury Sneakers" />
  <meta property="og:locale" content="en_US" />
  <meta property="fb:app_id" content="621104394706655" />
<% end %>


<!-- SIDEBAR -->
<div id="filters" class="button-group sidebar">
  <div class="contact_link">
    <div class = "filter_select_container">
    <hr><p id = "logo">Laced</p><hr><br><br>
      <button class="button"><a href = "javascript:history.back()" class = "contact_link">COLLECTION</a></button>
      <button class="button"><%= link_to("TALK TO US", contact_index_path, class: "contact_link") %></button>
    </div>
  </div>
</div>

<div class = "contact_text">
  <%= h1_helper("SUGGESTIONS?") %>
  <%= h3_helper("Reach us here") %><br><br>
  <%= image_tag("hand_pointing_right.png") %>
</div>

<!-- REQUEST PRODUCT -->
<!-- Special version of Bootstrap that only affects content wrapped in .bootstrap-iso -->
<link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" /> 

<!-- HTML Form (wrapped in a .bootstrap-iso div) -->
<div class="bootstrap-iso">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <form action="<%= contact_index_path %>" method="post">
            <input type="hidden" value="<%= form_authenticity_token() %>" name="authenticity_token"/> 
          <div class="form-group ">
            <label class="control-label requiredField" for="name">Name<span class="asteriskField">*</span></label>
            <input class="form-control" id="from_name" name="from_name" type="text" placeholder="full name" />
          </div>
          <div class="form-group ">
            <label class="control-label requiredField" for="email">Email</label>
            <input class="form-control" id="email" name="email" type="email" placeholder="youremail@gmail.com" />
          </div>
          <div class="form-group ">
            <label class="control-label " for="url">URL</label>
            <input class="form-control" id="url" name="url" type="text" placeholder="insert brand url" />
          </div>
          <div class="form-group ">
            <label class="control-label requiredField" for="brand">Brand<span class="asteriskField">*</span></label>
            <input class="form-control" id="brand" name="brand" type="text" placeholder="what brand do you want to see on Laced?" />
          </div>
          <div class="form-group ">
            <label class="control-label requiredField" for="message">Message<span class="asteriskField">*</span></label>
            <textarea class="form-control" cols="40" id="message" name="message" rows="10" placeholder="tell us more..."></textarea>
          </div>
          <div class="form-group">
            <div>
              <button class="my-btn" name="submit" type="submit">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
