<!-- META -->
<% content_for :head do %>
  <meta property="og:url" content="http://lacedny.herokuapp.com<%= products_path %>" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Luxury Sneakers" />
  <meta property="og:locale" content="en_US" />
  <meta property="fb:app_id" content="621104394706655" />
<% end %>


<!-- SIDEBAR -->
<div id="filters" class="button-group sidebar">
  <div class = "filter_select_container">
    <p id = "logo">Laced</p><br><br><br>
    <button class="button is-checked" data-filter="*">ALL BRANDS</button><br><br><br>
    <button class="button" data-filter=".giuseppe_zanotti">GIUSEPPE ZANOTTI</button><br><br><br>
    <button class="button" data-filter=".yeezy">YEEZY</button><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  </div>
    <div class = "filter_select_container">
      <button class="button"><%= link_to("contact", "/contacts/new", class: "contact_link") %></button>
    </div>
</div>

<!-- DISPLAY ALL PRODUCTS -->
<div class="isotope">
  <!-- SHOW GIUSEPPE ZANOTTI PRODUCTS -->
    <% @products.each do |p| %>
      <% if p.brand == "Giuseppe Zanotti" %>
        <a href= <%= product_path(p.id) %>>
          <div class = "product-item giuseppe_zanotti" data-category="giuseppe_zanotti">
            <%= image_tag(p.image1, id: "giuseppe_zanotti_img1", class: "product_image") %>
            <div class="text-content"><%= p_helper(p.model) %></div>
          </div>
        </a>
      <% end %>
    <% end %>


    <!-- SHOW LOUIS VUITTON PRODUCTS -->
    <% @products.each do |p| %>
      <% if p.brand == "Louis Vuitton" %>
        <a href= <%= product_path(p.id) %>>
          <div class = "product-item louis_vuitton" data-category="louis_vuitton">
            <%= image_tag(p.image1, id: "louis_vuitton_img1", class: "product_image") %>
            <div class="text-content"><%= p_helper(p.model) %></div>
          </div>
        </a>
      <% end %>
    <% end %>


    <!-- SHOW MAISON MARGIELLA PRODUCTS -->
    <% @products.each do |p| %>
      <% if p.brand == "Maison Margiella" %>
        <a href= <%= product_path(p.id) %>>
         <div class = "product-item maison_margiella" data-category="maison_margiella">
            <%= image_tag(p.image1, id: "maison_margiella_img1", class: "product_image") %>
           <div class="text-content"><%= p_helper(p.model) %></div>
         </div>
        </a>
      <% end %>
    <% end %>

  <!-- SHOW YEEZY PRODUCTS -->
  <% @products.each do |p| %>
    <% if p.brand == "Yeezy" %>
      <a href= <%= product_path(p.id) %>>
        <div class = "product-item yeezy" data-category="yeezy">
          <%= image_tag(p.image1, id: "yeezy_img1", class: "product_image") %>
          <div class="text-content"><%= p_helper(p.model) %></div>
        </div>
      </a>
    <% end %>
  <% end %>
</div>