<!-- META -->
<% content_for :head do %>
  <meta property="og:url" content="http://lacedny.herokuapp.com<%= products_path %>" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Luxury Sneakers" />
  <meta property="og:locale" content="en_US" />
  <meta property="fb:app_id" content="621104394706655" />
<% end %>


<!-- SIDEBAR -->
<div id="filters" class="button-group sidebar">
  <div class = "filter_select_container">
    <hr><p id = "logo">Laced</p><hr><br><br><br>
    <button class="button is-checked" data-filter="*">All Brands</button><br><br><br>
    <button class="button" data-filter=".giuseppe_zanotti">Giuseppe Zanotti</button><br><br><br>
    <!-- <button class="button" data-filter=".louis_vuitton">Louis Vuitton</button><br><br><br> -->
    <!-- <button class="button" data-filter=".maison_margiella">Maison Margiella</button><br><br><br> -->
    <button class="button" data-filter=".yeezy">Yeezy</button><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  </div>
  <div class="contact_link">
    <div class = "filter_select_container">
      <button class="button"><%= link_to("TALK TO US", "/contacts/new", class: "contact_link") %></button>
    </div>
  </div>
</div>

<!-- DISPLAY ALL PRODUCTS -->
<div class="isotope">
  <!-- SHOW GIUSEPPE ZANOTTI PRODUCTS -->
    <% @products.each do |p| %>
      <% if p.brand == "Giuseppe Zanotti" %>
        <a href= <%= product_path(p.id) %>>
          <div class = "product-item giuseppe_zanotti" data-category="giuseppe_zanotti">
            <%= image_tag(p.image1, id: "giuseppe_zanotti_img1", class: "product_image") %>
            <div class="text-content"><%= p_helper(p.model) %></div>
          </div>
        </a>
      <% end %>
    <% end %>


    <!-- SHOW LOUIS VUITTON PRODUCTS -->
    <% @products.each do |p| %>
      <% if p.brand == "Louis Vuitton" %>
        <a href= <%= product_path(p.id) %>>
          <div class = "product-item louis_vuitton" data-category="louis_vuitton">
            <%= image_tag(p.image1, id: "louis_vuitton_img1", class: "product_image") %>
            <div class="text-content"><%= p_helper(p.model) %></div>
          </div>
        </a>
      <% end %>
    <% end %>


    <!-- SHOW MAISON MARGIELLA PRODUCTS -->
    <% @products.each do |p| %>
      <% if p.brand == "Maison Margiella" %>
        <a href= <%= product_path(p.id) %>>
         <div class = "product-item maison_margiella" data-category="maison_margiella">
            <%= image_tag(p.image1, id: "maison_margiella_img1", class: "product_image") %>
           <div class="text-content"><%= p_helper(p.model) %></div>
         </div>
        </a>
      <% end %>
    <% end %>

  <!-- SHOW YEEZY PRODUCTS -->
  <% @products.each do |p| %>
    <% if p.brand == "Yeezy" %>
      <a href= <%= product_path(p.id) %>>
        <div class = "product-item yeezy" data-category="yeezy">
          <%= image_tag(p.image1, id: "yeezy_img1", class: "product_image") %>
          <div class="text-content"><%= p_helper(p.model) %></div>
        </div>
      </a>
    <% end %>
  <% end %>
</div>

<div id="intro">
  <svg viewBox="0 -200 700 700" width="100%" height="100%">
  <g>
    <path class="laced" id="L" d="m 131.14975,151.33186 q 3.90151,4.92822 3.90151,14.57932 0,9.44576 -7.39233,15.4007 -7.18699,5.74959 -19.91824,5.74959 -7.39233,0 -18.891515,-1.64274 -22.587687,-3.49082 -29.15865,-3.49082 -6.365621,0 -9.035075,0.41068 -2.669454,0.20535 -6.981649,0.61603 l 24.846456,-135.526119 44.970033,0 -20.534263,112.938429 q 2.669454,0.41069 5.133565,0.41069 l 5.133568,0 q 17.24878,0 27.92659,-9.44576 z" />

    <path class="laced" id="A" d="m 157.61969,176.79434 q -4.72288,-5.33891 -6.98165,-13.75795 -2.05342,-8.41905 -2.05342,-22.177 0,-13.75796 4.72288,-26.28386 4.72288,-12.5259 13.34727,-21.560971 17.65946,-18.89152 46.81811,-18.89152 10.47248,0 18.07015,3.490825 l 35.11359,-3.490825 -15.19536,80.083621 q -0.61602,2.46411 -0.61602,6.98164 0,4.51754 2.66945,7.39234 2.8748,2.87479 6.98165,3.28548 -2.05343,6.98165 -9.6511,11.0885 -7.39234,4.10685 -15.81138,4.10685 -8.41905,0 -14.16864,-3.28548 -5.54425,-3.08014 -7.187,-8.41905 -3.28548,5.13357 -10.26713,8.41905 -6.98164,3.28548 -16.4274,3.28548 -9.24042,0 -16.8381,-2.46411 -7.59767,-2.46411 -12.5259,-7.80302 z m 43.32729,-83.369096 q -2.25877,3.696167 -4.31219,10.061786 -2.05343,6.16028 -5.54425,22.99837 -3.28548,16.63275 -3.28548,28.54263 0,11.90987 1.84808,15.40069 1.84808,3.49083 5.13357,3.49083 6.57096,0 11.29384,-6.16028 4.92822,-6.36562 6.7763,-17.45412 l 10.88316,-60.165387 q -4.31219,-3.696167 -9.44576,-3.696167 -4.92822,0 -8.00836,1.642741 -2.8748,1.64274 -5.33891,5.338907 z" />

    <path class="laced" id="C" d="m 377.55126,97.532096 q 0,8.624394 -7.18699,13.963294 -7.18699,5.33891 -18.89152,5.33891 -4.92822,0 -7.80302,-1.4374 2.25877,-5.3389 2.8748,-11.90987 0.82137,-6.776304 0.82137,-8.624387 0,-8.62439 -5.95494,-8.62439 -4.10685,0 -8.82973,5.133565 -4.51754,5.133565 -8.41905,13.141932 -8.62439,18.48083 -8.62439,37.16701 0,10.26713 3.90151,14.99001 3.90151,4.51753 12.5259,4.51753 11.90987,0 21.35563,-9.85644 2.66946,-3.08014 4.10686,-6.57096 7.80301,4.10685 7.80301,15.40069 0,11.49919 -12.73124,19.09686 -13.14192,7.80302 -34.08687,7.80302 -41.68455,0 -41.68455,-44.14866 0,-32.23879 18.27549,-50.719621 17.65947,-18.07015 50.1036,-18.07015 32.44413,0 32.44413,23.409057 z" />

    <path class="laced" id="E" d="m 466.17262,148.25172 q 5.13356,3.49082 5.13356,11.29384 0,7.59768 -3.90151,12.5259 -3.9015,4.92822 -10.26713,8.21371 -13.14192,6.7763 -27.31056,6.7763 -14.16864,0 -22.58769,-3.08014 -8.2137,-3.08014 -13.75795,-8.82973 -10.88316,-10.88316 -10.88316,-30.80139 0,-31.00673 16.83809,-49.898253 18.07015,-20.328918 49.48757,-20.328918 19.50755,0 29.15865,8.213705 7.18699,6.160278 7.18699,16.222065 0,36.140301 -62.42415,36.140301 -0.82137,5.33891 -0.82137,9.85644 0,9.44576 4.10685,13.14193 4.3122,3.49082 12.11521,3.49082 7.80302,0 16.01673,-3.49082 8.41904,-3.69617 11.90987,-9.44576 z m -41.88989,-22.38234 q 14.57932,0 22.99837,-9.03508 8.41905,-8.62439 8.41905,-22.382343 0,-4.72288 -1.84809,-7.186991 -1.64274,-2.669454 -5.13356,-2.669454 -3.49083,0 -6.57097,1.437399 -2.87479,1.232055 -5.95493,5.749592 -7.59768,10.267127 -11.90987,34.086877 z" />

    <path class="laced" id="D" d="m 557.1811,74.123039 q 7.39234,0 13.14193,1.642741 0.20534,-0.82137 0.61603,-3.080139 l 1.02671,-6.365621 q 0.82137,-4.106852 2.05343,-10.883158 l 3.28548,-16.222066 40.86318,-4.106852 -22.79303,119.098716 q -0.20534,1.23205 -0.20534,3.28548 l 0,3.28548 q 0,4.51754 2.25876,8.00836 2.25877,3.28548 5.95494,3.28548 -4.10685,9.6511 -16.63275,13.75796 -4.3122,1.23205 -10.47247,1.23205 -5.95494,0 -11.49919,-3.28548 -5.54425,-3.08014 -7.18699,-8.41905 -3.28548,5.33891 -9.85645,8.41905 -6.57096,3.28548 -16.22206,3.28548 -9.44576,0 -17.45412,-2.46411 -7.80302,-2.46411 -12.73125,-7.80302 -9.03507,-10.47247 -9.03507,-34.29221 0,-30.80139 18.07015,-49.487571 18.07015,-18.89152 46.81811,-18.89152 z m -1.43739,12.320557 q -7.59768,0 -11.70453,8.213704 -4.10686,8.2137 -8.41905,28.54262 -4.10685,20.32892 -4.10685,38.60441 0,12.5259 7.39233,12.5259 6.57097,0 11.0885,-6.57096 4.72288,-6.57097 6.57097,-17.45412 l 11.0885,-60.165387 q -4.3122,-3.696167 -11.90987,-3.696167 z" />
    </g>
  </svg>

</div>
