<!-- HOME/LANDING PAGE -->
<!-- FEATURED PRODUCTS CAROUSEL -->



<div class="grid">
  
  <div class="grid-item"><%= image_tag("http://41.media.tumblr.com/tumblr_m5wb2lom6X1rz6b7fo1_500.jpg", class: 'image_size') %><span class="desc">DESCRIPTION</span></div>

  
  
  <div class="grid-item"><%= image_tag("http://36.media.tumblr.com/886f9d69a50a45330bd5c6c958eeed72/tumblr_ngnn3tUjJs1tpjk9no1_400.png", class: 'image_size') %><span class="desc">DESCRIPTION</span></div>
  
  <div class="grid-item"><%= image_tag("http://fanaru.com/spongebob-squarepants/image/8392-spongebob-squarepants-tea-at-the-treedome-episode-screencap-1x3.jpg", class: 'image_size') %><span class="desc">DESCRIPTION</span></div>

  <div class="grid-item"><%= image_tag("http://www.barnorama.com/wp-content/images/2013/01/Times-Spongebob-Made-Absolutely/01-Times-Spongebob-Made-Absolutely.jpg", class: 'image_size') %><span class="desc">DESCRIPTION</span></div>

  <div class="grid-item"><%= image_tag("http://vignette4.wikia.nocookie.net/spongebob/images/4/4a/Photosynthesis_Spongebob.jpg/revision/latest?cb=20130426185858", class: 'image_size') %><span class="desc">DESCRIPTION</span></div>

  <div class="grid-item"><%= image_tag("http://vignette3.wikia.nocookie.net/spongebob/images/4/47/SpongeBob_SquarePants_S09E188_Spongebob_You_'re_Fired_43.JPG/revision/latest?cb=20131104135428", class: 'image_size') %><span class="desc">DESCRIPTION</span></div>

  

  <div class="grid-item"><%= image_tag("http://vignette4.wikia.nocookie.net/spongebob/images/f/f4/SpongeBob_Go_Home.png/revision/latest?cb=20130506032647", class: 'image_size') %><span class="desc">DESCRIPTION</span></div>

<div class="grid-item"><%= image_tag("http://41.media.tumblr.com/tumblr_m5wb2lom6X1rz6b7fo1_500.jpg", class: 'image_size') %><span class="desc">DESCRIPTION</span></div>

  
  
  <div class="grid-item"><%= image_tag("http://36.media.tumblr.com/886f9d69a50a45330bd5c6c958eeed72/tumblr_ngnn3tUjJs1tpjk9no1_400.png", class: 'image_size') %><span class="desc">DESCRIPTION</span></div>
  
  <div class="grid-item"><%= image_tag("http://fanaru.com/spongebob-squarepants/image/8392-spongebob-squarepants-tea-at-the-treedome-episode-screencap-1x3.jpg", class: 'image_size') %><span class="desc">DESCRIPTION</span></div>

  <div class="grid-item"><%= image_tag("http://www.barnorama.com/wp-content/images/2013/01/Times-Spongebob-Made-Absolutely/01-Times-Spongebob-Made-Absolutely.jpg", class: 'image_size') %><span class="desc">DESCRIPTION</span></div>

  <div class="grid-item"><%= image_tag("http://vignette4.wikia.nocookie.net/spongebob/images/4/4a/Photosynthesis_Spongebob.jpg/revision/latest?cb=20130426185858", class: 'image_size') %><span class="desc">DESCRIPTION</span></div>

  <div class="grid-item"><%= image_tag("http://vignette3.wikia.nocookie.net/spongebob/images/4/47/SpongeBob_SquarePants_S09E188_Spongebob_You_'re_Fired_43.JPG/revision/latest?cb=20131104135428", class: 'image_size') %><span class="desc">DESCRIPTION</span></div>

  

  <div class="grid-item"><%= image_tag("http://vignette4.wikia.nocookie.net/spongebob/images/f/f4/SpongeBob_Go_Home.png/revision/latest?cb=20130506032647", class: 'image_size') %><span class="desc">DESCRIPTION</span></div>

<div class="grid-item"><%= image_tag("http://41.media.tumblr.com/tumblr_m5wb2lom6X1rz6b7fo1_500.jpg", class: 'image_size') %><span class="desc">DESCRIPTION</span></div>

  
  
  <div class="grid-item"><%= image_tag("http://36.media.tumblr.com/886f9d69a50a45330bd5c6c958eeed72/tumblr_ngnn3tUjJs1tpjk9no1_400.png", class: 'image_size') %><span class="desc">DESCRIPTION</span></div>
  
  <div class="grid-item"><%= image_tag("http://fanaru.com/spongebob-squarepants/image/8392-spongebob-squarepants-tea-at-the-treedome-episode-screencap-1x3.jpg", class: 'image_size') %><span class="desc">DESCRIPTION</span></div>

  <div class="grid-item"><%= image_tag("http://www.barnorama.com/wp-content/images/2013/01/Times-Spongebob-Made-Absolutely/01-Times-Spongebob-Made-Absolutely.jpg", class: 'image_size') %><span class="desc">DESCRIPTION</span></div>

  <div class="grid-item"><%= image_tag("http://vignette4.wikia.nocookie.net/spongebob/images/4/4a/Photosynthesis_Spongebob.jpg/revision/latest?cb=20130426185858", class: 'image_size') %><span class="desc">DESCRIPTION</span></div>

  <div class="grid-item"><%= image_tag("http://vignette3.wikia.nocookie.net/spongebob/images/4/47/SpongeBob_SquarePants_S09E188_Spongebob_You_'re_Fired_43.JPG/revision/latest?cb=20131104135428", class: 'image_size') %><span class="desc">DESCRIPTION</span></div>

  

  <div class="grid-item"><%= image_tag("http://vignette4.wikia.nocookie.net/spongebob/images/f/f4/SpongeBob_Go_Home.png/revision/latest?cb=20130506032647", class: 'image_size') %><span class="desc">DESCRIPTION</span></div>

<div class="grid-item"><%= image_tag("http://41.media.tumblr.com/tumblr_m5wb2lom6X1rz6b7fo1_500.jpg", class: 'image_size') %><span class="desc">DESCRIPTION</span></div>

  
  
  <div class="grid-item"><%= image_tag("http://36.media.tumblr.com/886f9d69a50a45330bd5c6c958eeed72/tumblr_ngnn3tUjJs1tpjk9no1_400.png", class: 'image_size') %><span class="desc">DESCRIPTION</span></div>
  
  <div class="grid-item"><%= image_tag("http://fanaru.com/spongebob-squarepants/image/8392-spongebob-squarepants-tea-at-the-treedome-episode-screencap-1x3.jpg", class: 'image_size') %><span class="desc">DESCRIPTION</span></div>

  <div class="grid-item"><%= image_tag("http://www.barnorama.com/wp-content/images/2013/01/Times-Spongebob-Made-Absolutely/01-Times-Spongebob-Made-Absolutely.jpg", class: 'image_size') %><span class="desc">DESCRIPTION</span></div>

  <div class="grid-item"><%= image_tag("http://vignette4.wikia.nocookie.net/spongebob/images/4/4a/Photosynthesis_Spongebob.jpg/revision/latest?cb=20130426185858", class: 'image_size') %><span class="desc">DESCRIPTION</span></div>

  <div class="grid-item"><%= image_tag("http://vignette3.wikia.nocookie.net/spongebob/images/4/47/SpongeBob_SquarePants_S09E188_Spongebob_You_'re_Fired_43.JPG/revision/latest?cb=20131104135428", class: 'image_size') %><span class="desc">DESCRIPTION</span></div>


  <div class="grid-item"><%= image_tag("http://vignette4.wikia.nocookie.net/spongebob/images/f/f4/SpongeBob_Go_Home.png/revision/latest?cb=20130506032647", class: 'image_size') %><span class="desc">DESCRIPTION</span></div>

</div>