
<div id="rightContainer">
  <div id="logo5">
    Laced
  </div>
  <div id="image">
    <img src="<%= @product.image1 %>">
    <div id="link"><span><%= link_to("Back", products_path, method: :get)%></span>
    </div>
  </div>
</div>
<div id="leftContainer">
  <div id="descriptionBox">
    <h1><%= @product.model %></h1>
    <h4><%= @product.description %></h4>
    <h4>$<%= @product.price %>0</h4>
  </div>

</div>